<!DOCTYPE html>
<html>
    <head>
        <!-- Metadatos: Datos referentes al funcionamiento de la página-->
        <meta charset="UTF-8">
        <title>Mercado Liebre </title>
    </head>
    <body>
        <!-- Contenido de la página va aquí -->
        <header> 
            <h1>Mercado Liebre</h1>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="300">
            <nav> 
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/product">Product</a> 
                    </li>
                    <li>
                        
                    </li>
                    <li>

                    </li>
                </ul>
            </nav>


        </header>

        <main>
            
            <section>
                <div>
                <h2>Paletas de padel</h2>
                <article>
                    <h3>Paleta de padel Adidas</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero accusantium corrupti magnam quia aliquam! Consequatur in autem quae odit itaque, magni totam, sit quibusdam distinctio sunt fugit eum asperiores deleniti!</p>
                </article>
            </div>
            <button> Comprar</button>
            </section>
            
        </main>
        
        
        <footer>
            <p>
                Copyright 
            </p>
        </footer>
    </body>
</html>
