<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documen</title>
</head>
<body>
    <header> 
        <h1>Mercado Liebre</h1>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" width="300">
        <nav> 
            <ul>
                <li>
                    <a href="/">Home</a>

                </li>
                <li>
                    <a href="/product">Product</a>
                    
                </li>
                <li>
                    
                </li>
                <li>

                </li>
            </ul>
        </nav>


    </header>
    <h1>Product </h1>
</body>
</html>